<!-- - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5 py-xl-8">
  <%# TITRE %>
  <div class="container">
    <div class="container row justify-content-md-center"> 
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h1 class="mb-4 display-5 text-center">Modifier ton commentaire</h1>
        <p class="text-secondary mb-5 text-center lead fs-4">Remplis le formulaire ci-dessous</p>
      </div>
    </div>
  </div>
  <%# CONTENU %>
  <div class="container">
    <div class="container row justify-content-md-center">

      <%# FORMULAIRE COMMENTAIRE%>
      <%= form_with url: gossip_comment_path(content: params['content']), action: 'update', method: "patch"  do |f| %>
        <%# Content %>
        <div class= "form-group required">
          <%= f.label :content, "Contenu", class: "form-label"%>
          <%= f.text_area :content, required: true, class: 'form-control', rows: 2, value: @comment.content %>
        </div>
          <br> 
        <%# Boutons %>
        <div class="text-right">
          <%# Submit %>
          <%= f.submit value: "Valider", class: "btn btn-primary" %>
          <%# Retour %>
          <a name="" id="" class="btn btn-secondary" href="<%= gossip_path(params['gossip_id']) %>" role="button" >Annuler</a>
        </div>
        
      <% end %>
      <div class="text-center">
        <%= form_with(url: gossip_comment_path(gossip_id: @gossip.id , id: @comment.id), method: "delete") do |f| %>
          <%= f.button "Supprimer", data: { confirm: "Are you sure?" }, class: "btn btn-danger mx-1" %>
       <% end %>
      </div>
      


    </div>
  </div>
</section>