<!-- - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5 py-xl-8">
  <%# TITRE %>
  <div class="container">
    <div class="container row justify-content-md-center"> 
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h1 class="mb-4 display-5 text-center">Inscription</h1>
        <p class="text-secondary mb-5 text-center lead fs-4">Pour créer ton compte, renseigne le formulaire ci-dessous:</p>
      </div>
    </div>
  </div>

  <%# CONTENU %>
  <div class="container">
    <div class="container row justify-content-md-center">
      <%# ALERTE FORMULAIRE %>
      <% if @user && @user.errors.any? %>
        <p>Nous n'avons pas réussi à créer ton compte pour la (ou les) raison(s) suivante(s) :</p>
        <% @user.errors.full_messages.each do |message| %>
          <p class="alert alert-danger" role="alert"><%= message %></p>
        <% end %>
      <% end %>

      <%# FORMULAIRE %>
      <%= form_with url: users_path(@user), action: 'create', method: "post"  do |f| %>
        <%# First_name %>
        <%= f.label :first_name, "Prénom :", class: "form-label"%>
        <%= f.text_field :first_name, required: true, class: 'form-control', value: @user.first_name %>
        <br>
        <%# last_name %>
        <%= f.label :last_name, "Nom :", class: "form-label"%>
        <%= f.text_field :last_name, required: true, class: 'form-control', value: @user.last_name %>
        <br>
        <%# email %>
        <%= f.label :email, "Email :", class: "form-label"%>
        <%= f.email_field :email, required: true, class: 'form-control', value: @user.email %>
        <!--<%= f.label :email, "Confirmation Email :", class: "form-label"%>
        <%= f.email_field :email_confirm, class: 'form-control' %>
        TODO confirmation email required: true-->
        <br>
        <%# password %>
        <%= f.label :password, "Mot de passe :", class: "form-label"%>
        <%= f.password_field :password, required: true, class: 'form-control' %>
        <!--<%= f.label :password_confirm, "Mot de passe :", class: "form-label"%>
        <%= f.password_field :password_confirm,  class: 'form-control'%>
        TODO check longeur password / confirmation password required: true-->
        <br>
        <%# age %>
        <%= f.label :age, "Âge :", class: "form-label"%>
        <%= f.text_field :age, class: 'form-control', value: @user.age %>
        <br>
        <%# description %>
        <%= f.label :description, "Description :", class: "form-label"%>
        <%= f.text_area :description, class: 'form-control', rows:3, value: @user.description %>
        
        <br>
        <%# Ville %>
        <%= f.label :city_id, "Ville :", class: "form-label"%>
        <br>
        <%= f.collection_select :city_id, City.order(:name), :id, :name, class: 'form-control', value: @user.city_id  %>
        <br> 
        <%# Boutons %>
        <div class="text-right">
          <%# Submit %>
          <%= f.submit value: "Valider", class: "btn btn-primary" %>
          <%# Retour %>
          <a class="btn btn-secondary" href="<%= root_path %>" role="button" >Annuler</a>
        </div>
      <% end %>
    </div>
  </div>
  </section>
