<!-- - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5 py-xl-8">
  <%# TITRE %>
  <div class="container">
    <div class="container row justify-content-md-center"> 
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h1 class="mb-4 display-5 text-center">Créer un nouveau gossip</h1>
        <p class="text-secondary mb-5 text-center lead fs-4">Tu as un nouveau potin croustillant ?
          <br>Écris le vite dans le formulaire ci-dessous :</p>
      </div>
    </div>
  </div>

  <%# CONTENU %>
  <div class="container">
    <div class="container row justify-content-md-center">
     <%# ALERTE FORMULAIRE %>
      <% if @gossip && @gossip.errors.any? %>
      <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
        <% @gossip.errors.full_messages.each do |message| %>
          <p class="alert alert-danger" role="alert"><%= message %></p>
        <% end %>
      <% end %>
      <%# FORMULAIRE %>
      <%= form_with url: gossips_path, action: 'create', method: "post"  do |f| %>
        <%# Author %> 
        <%= f.hidden_field :author_id, class: 'form-control'%>
        <%# Title %>
        <%= f.label :title, "Titre :", class: "form-label"%>
        <%= f.text_field :title, required: true, class: 'form-control', value: @gossip.title %>
        <br>
        <%# Content %>
        <%= f.label :content, "Contenu :", class: "form-label"%>
        <%= f.text_area :content, required: true, class: 'form-control', rows: 10, value: @gossip.content %>
        <%# Help text %>
        <small id="helpId" class="text-muted">* champs obligatoires</small>
        <br> 
        <%# Boutons %>
        <div class="text-right">
          <%# Submit %>
          <%= f.submit value: "Valider", class: "btn btn-primary" %>
          <%# Retour %>
          <a class="btn btn-secondary" href="<%= root_path %>" role="button" >Annuler</a>
        </div>
      <% end %>
    </div>
  </div>
</section>