
<!-- - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5 py-xl-8">
  <%# TITRE %>
  <div class="container">
    <div class="container row justify-content-md-center"> 
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h1 class="mb-4 display-5 text-center">Créer un nouveau gossip</h1>
        <p class="text-secondary mb-5 text-center lead fs-4">Tu as un nouveau potin croustillant ?
          <br>Écris le vite dans le formulaire ci-dessous :</p>
      </div>
    </div>
  </div>

  <%# FORMULAIRE %>
  <div class="container">
    <div class="container row justify-content-md-center">
     <%# ALERTE FORMULAIRE %>
      <% if @gossip && @gossip.errors.any? %>
      <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
        <% @gossip.errors.full_messages.each do |message| %>
          <p class="alert alert-danger" role="alert"><%= message %></p>
        <% end %>
      <% end %>
      <form action="<%= gossips_path(@gossip) %>" method = "POST">
      <%# authenticity token %>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="author_id" value="">
        <label for="" class="form-label">Titre<sup>*</sup> :</label>
        <input
          type="text"
          name="title"
          id="title"
          required
          value="<%= @gossip.title %>"
          class="form-control"
          placeholder=""
          aria-describedby="helpId"
        />
        <div class="mb-3">
          <label for="content" class="form-label">Contenu<sup>*</sup> :</label>
          <textarea class="form-control" name="content" id="content" required rows="3"><%= @gossip.content %></textarea>
        </div>
        
    <br> <input
      name=""
      id=""
      class="btn btn-primary"
      type="submit"
      value="Valider"
    />
      <a
          name=""
          id=""
          class="btn btn-secondary"
          href="<%= root_path %>"
          role="button"
          >Annuler</a
         >
    <br>
    <small id="helpId" class="text-muted">* champs oblogatoires</small>
  </form>
  
</div>
</div>
</section>