
<!-- GOSSIP  -->
<section class="bg-light py-3 py-md-5 py-xl-8">
  <%# TITRE %>
  <div class="container">
    <div class="container row justify-content-md-center"> 
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h1 class="mb-4 display-5 text-center"><%=  @gossip.title %></h1>
        <p class="text-secondary text-center lead fs-4"><strong>Auteur :</strong> <%= link_to "#{@author.first_name}", user_path(@author) %></p>
      </div>
    </div>
  </div>
  <%# Ville %>
  <p class="text-center mb-5">Ville : <%= link_to "#{@author.city.name}", city_path(@author.city) %></p>

  <%# content %>
  <div class="container overflow-hidden  mb-5 ">
    <div class="row justify-content-md-center">
      <%# LIENS %>
      <div class="flex">
        <div class="text-right my-3">
          <% if @gossip.author == @user %>
            <a class="btn btn-primary" href="<%= edit_gossip_path(@gossip) %>" role="button" >Modifier</a>
          <% end %>
          <a class="btn btn-secondary ml-2" href="<%= root_path %>" role="button">< Retour</a>
        </div>
      </div>
      <%# CARD %>
      <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
        <div class="card-body p-5">
          <p class="">Potin n°<%= @gossip.id %></p>
          <div class="">
            <p><%=  @gossip.content %></p>
          </div>
        </div>
      </div>
      <% if logged_in? %>
       <div class="text-right my-3">
          <% if @author == current_user %>
           <%#  SUPPRIMER %>
             <%= form_with(url: gossip_path(@gossip), method: "delete") do |f| %>
              <%= f.button "Supprimer", data: { confirm: "Are you sure?" }, class: "btn btn-danger mx-1" %>
            <% end %>
          <% else %>
           <%# LIKE %>
            <% @already_liked = Like.where(user_id: current_user.id, gossip_id: @gossip.id).length %>
            <% @already_liked.zero? ? button_class ="btn btn-outline-success" : button_class ="btn btn-success" %>
            <% @already_liked.zero? ? like_txt ="Like" : like_txt ="Unlike"  %>
            <%= form_with url: likes_path(gossip_id: @gossip.id, user_id: current_user.id), action: 'create', method: "post", class:"d-inline ml-2" do |f| %>
              <%= f.submit value: like_txt, class: button_class %>
            <% end %>
          <% end %>
        </div>
      <%end%>
    </div>
  </div>
</section>
<%# COMMENTS %>

<section class='w3-light-grey' style="padding: 30px">
    <% if logged_in? %>
    <h3>Ajouter un commentaire</h3>
     
      <%# FORMULAIRE COMMENTAIRE%>
      <%= form_with url: create_comment_path, action: 'create', method: "post"  do |f| %>
        <div class= "form-group required">
          <%# Content %>
          <%= f.label :content, "Contenu", class: "form-label"%>
          <%= f.text_area :content, required: true, class: 'form-control', rows: 2 %>
        </div>
        <br> 
        <%# Boutons %>
        <div class="text-right">
          <%# Submit %>
          <%= f.submit value: "Valider", class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
    <%# TOUS LES COMMENTAIRES %>
    <% if @comments.length> 0 %>
    <div>
      <h3>Tous les commentaires</h3>
      <% @comments.sort_by{|c| -c.id}.each do |comment| %>
        <div class="border-bottom">
        <p><strong><%= comment.commenting_user.first_name %></strong> :
         <%= comment.content %>
          <br>
          Likes : <%=find_comment_likes(comment.id).length%>
        </p>
         <% if logged_in? %>
          <div class="text-right my-3">
            <% if is_owner_of_comment?(comment.id) %>
              <a class="btn btn-secondary" href="<%= edit_gossip_comment_path(gossip_id: @gossip.id , id: comment.id) %>" role="button" >Modifier</a>
            <% else %>
              <!--todo : <a class="btn btn-secondary" href="<%=  %>" role="button" >Liker</a>
              todo : <a class="btn btn-secondary" href="<%=  %>" role="button" >Répondre</a>-->
            <% end %>
          </div>
        <%end%>
      </div>
      <% end %>
    </section>
    <% end %>
</section>