<!-- - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5 py-xl-8">
  <%# TITRE %>
  <div class="container">
    <div class="container row justify-content-md-center"> 
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h1 class="mb-4 display-5 text-center"><%= @city.name %></h1>
        <p class="text-secondary mb-5 text-center lead fs-4"> </p>
      </div>
    </div>
  </div>

  <%# content %>
  <div class="container overflow-hidden">
    <div class="row justify-content-md-center">
      <% @gossips_all.each do |gossip| %>
        <% author = gossip.author %>
        <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden my-4" id="<%= gossip.id %>">
          <div class="card-body p-3">
            <h3><%= gossip.title %></h3>
            <p><strong>Auteur : <%= link_to "#{author.first_name}", user_path(author) %></strong>
            <br>
            Ville : <%= @city.name %> </p>
            
            <p><%= gossip.content %></p>
            <small>Potin n°<%= gossip.id %> - Commentaires : <%= Comment.where(commented_gossip_id: gossip.id).length %> - Likes : <%= Like.where(gossip_id: gossip.id).length %></small>
            <!--LIENS -->
            <div class="text-right">
            <a class="btn btn-primary" href="<%= gossip_path(gossip) %>" 
              role="button"
                >Lire</a>
              <% if gossip.author == @user %>
                <a class="btn btn-secondary"
                  href="<%= edit_gossip_path(gossip) %>"
                  role="button"
                  >Mofifier</a>
              <% end %>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
