<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProjectViews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!--bootstrap--> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/teams/team-1/assets/css/team-1.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  </head>

  <body class='bg-light' data-turbo="false" >
  
  <header>
    <%# NAVIGATION BAR %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
      <div class="container">
        <a class="navbar-brand" href="<%=root_path%>">The Gossip Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="<%=root_path%>">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=team_path%>">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=contact_path%>">Contact</a>
            </li>
            <% if logged_in? %>
              <li class="nav-item">
                <a class="nav-link" href="<%=new_gossip_path%>">Ajouter un Gossip</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="<%=users_welcome_path%>/<%= current_user.id %>">WELCOME <%= current_user.first_name %></a>
              </li>
              <li class="nav-item">
                <%= form_with url: session_path(current_user.id), action: 'destroy', method: "delete", class:"d-inline ml-2" do |f| %>
                  <%= f.submit value: 'Déconnexion', class: "nav-link" %>
                <% end %>
                </li>
            <% else %>
                <li class="nav-item">
                  <a class="nav-link" href="<%=new_user_path%>">Inscription</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="<%=new_session_path%>">Connexion</a>
                </li>
            <%end%>

          </ul>
        </div>
      </div>
    </nav>
  </header>

  <%# MAIN %>
  <main class='bg-light'>
  <%= yield %>
  </main>
  <%# FOOTER %>
  <footer class="container">
    <div class="p-4">
      <span class="text-body-secondary">Annie Hérieau - THP Projet validant du 12/02/2024</span>
    </div>
  </footer>



  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>
